<body>
    <h1>Students</h1>
    <ul>
        <% students.forEach(todo => { %>
            <li>
                <%= students.text %> 
                - 
                <%= students.done ? 'done' : 'not done' %>
            </li>
        <% }) %>
    </ul>
</body>